@media screen and (max-width: 1199px) {
    .project {
        flex-basis: 45%;
        margin: 2% 2%
    }

    .project-details p {
        font-size: 14px;
    }
}

@media screen and (max-width: 980px){

    .project {
        flex-basis: 60%;
    }

    div#portfolioExamples.active {
        justify-content: center;
    }

}

@media screen and (max-width: 600px){
    div#welcomeText h1 {
        font-size: 45px;
    }

    div#welcomeText h2 {
        font-size: 16px;
    }

    .resume-icon {
        grid-area: resume;
    }

    .email-icon {
        grid-area: email;
    }

    .phone-icon {
        grid-area: phone;
    }

    .github-icon {
        grid-area: github;
    }


    .icons-box {
        width: 70%;
        display: grid;
        grid-template-areas: 
        'resume phone email github';
    }

    .contact-icons .icons-box a {
        width: 50px;
    }

    .icons-box a img {
        width: 30px;
        height: 30px;
        align-self: center;
    }

    .contact-icons {
        height: 60px;
    }

    .project-screenshot {
        height: 150px;
    }

    .project {
        flex-basis: 90%;
    }

    .project-details p {
        font-size: 14px;
    }

    div#portfolioExamples.active{
        padding-bottom: 100px;
    }

    .project-details {
        height: 325px;
    }
}

@media screen and (min-width: 475px) and (max-width: 600px){
   
    .project-details p {
        font-size: 18px;
    }
    
}