@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(./fonts/Ubuntu/Ubuntu-Regular.ttf) format('woff');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: bold;
  font-weight: 700;
  src: local('Ubuntu'), url(./fonts/Ubuntu/Ubuntu-Bold.ttf) format('woff');
}

body {
  margin: 0;
  font-family: 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  margin: 0;
  padding: 0;
}

html,
div#root,
div.App,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

div#splashArea {
  background-image: url('./media/20220626_045937.jpg');
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

div#welcomeText {
  width: 100%;
  height: 25%;
  padding: 50px 0 0;
}

div#welcomeText h1,
div#welcomeText h2 {
  font-family: Ubuntu , sans-serif;
  font-weight: 700;
  color: #FFF
}

div#welcomeText h1 {
  font-size: 75px;
}

div#welcomeText h1 {
  font-size: 50px;
}

.contact-icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 80px;
  align-items: center;
}

div#splashGreeting {
  height: 100%;
}

.contact-icons .icons-box a {
  width: 100px;
}

.icons-box {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.icons-box a img {
  width: 50%;
}

div#topBar {
  background: rgba(0,0,0,0.6);
}

img#abrahmImage {
  width: 200px;
  border-radius: 50%;
}

div#spalshWelcome {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button#showCarousel {
  font-family: 'Ubuntu', sans-serif;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #FFF;
  color: #FFF;
  padding: 5px 20px;
  font-weight: 700;
  margin: 20px 0 0;
}

div#spalshWelcome.profile-open {
  display: none;
}

.hide-button {
  display: none;
}

div#portfolioExamples.active {
  height: 100%;
  background: rgba(245, 245, 245, 0.7);
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  flex-wrap: wrap;
  overflow: scroll;
}

.project img {
  max-width: 100%;
}

.project {
  flex-basis: 40%;
  margin: 2% 5%;
  height: 500px;
}

.project-details {
  background: #FFFFFF;
  height: 300px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.project-details a {
  text-decoration: none;
  border: 1px solid #000;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 0 auto 10px;
  display: block;
  width: fit-content;
  font-family: 'Ubuntu', sans-serif;
  color: #000;
}

.tech-badges {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-evenly;
  margin: 20px auto;
}

.tech-badges .tech-badge {
  width: auto;
  height: 25px;
}

.project-screenshot {
  background: #FFF;
  height: 175px;
  overflow: hidden;
}