@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(./fonts/Ubuntu/Ubuntu-Regular.ttf) format('woff');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: bold;
  font-weight: 700;
  src: local('Ubuntu'), url(./fonts/Ubuntu/Ubuntu-Bold.ttf) format('woff');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  margin: 0;
  padding: 0;
}

html,
div#root,
div.App,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

div#splashArea {
  background-image: url('./media/20220626_045937.jpg');
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

div#welcomeText {
  width: 100%;
  height: 25%;
  padding: 50px 0 0;
}

div#welcomeText h1,
div#welcomeText h2 {
  font-family: Ubuntu , sans-serif;
  font-weight: 700;
  color: #FFF
}

div#welcomeText h1 {
  font-size: 75px;
}

div#welcomeText h1 {
  font-size: 50px;
}

.contact-icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 80px;
  align-items: center;
}

div#splashGreeting {
  height: 100%;
}

.contact-icons .icons-box a {
  width: 100px;
}

.icons-box {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.icons-box a img {
  width: 50%;
}

div#topBar {
  background: rgba(0,0,0,0.6);
}

img#abrahmImage {
  width: 200px;
  border-radius: 50%;
}

div#spalshWelcome {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}